.vscode
node_modules
build
.DS_Store
genes-matrix
simulations-results
.node-xml*
fancy-cats
bin
env.json
package-lock.json
pnpm-lock.yaml
.env*
!.env.example
contracts/artifacts
generated/
cache/
deployments/
typechain-types/
artifacts/